<!DOCTYPE html>
<html lang="en">
  <title>Profile Page</title>
  {{>header}}
  <body>
    {{>navbar}}
    </div>
    <div class="container">
      
      <div class="images">
        <h2>User Profile</h2>
        <img src="/images/human.jpg" alt="" />
        <h3>Name: {{user.person_name}}</h3>
         <h3>Name: {{user.email}}</h3>
      </div>
    </div>
  </body>
</html>
